
.titleFilmes{
    background-color: orange;
    text-align: center;
}

.pesqBar{
    margin-left: 5px;
    background-color: white;
}

button{
    margin-left: 5px;
    cursor: pointer;
}


.list{
    background-color: yellow;
    margin-top: 5px;
    margin-left: 5px;
    width: 50%;
    list-style-type: none;
    border-style: solid;
    border-width: 2px;
    padding: 0;
}

.itemList{
    margin-left: 3px;
}
