*{
  margin: 0;
  padding: 0;
}

.notFound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar{
  height: 40px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px; 
}

.link{
  margin-left: 50px;
}

.link:hover{
  background-color: white;
}

